body {
    background-color: whitesmoke;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-top: 100px;
}

.form-container {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-container h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"]{
    width: 95%;
    padding: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
        padding: 10px;
        background-color: #C1FBFF;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
}

button:hover {
    background-color: #A1BAFF;
}